

  {% block body %}

<body class="g-sidenav-show  bg-gray-200">
   {{form_start(form)}}
   {{form_widget(form)}}

   

   <button type="submit" class="btn btn-success"> 
        Modifier un Match
   </button> 
   
   

   {{form_end(form)}}
   
{% endblock %}

