{% extends 'base.html.twig' %}
{% block title %}  Boutique {% endblock %}
{% block body %}
<body>

	

	<!-- Contact page -->
	<section class="contact-page">
		<div class="container">
			
			<div class="row">
				<div class="col-lg-7 order-2 order-lg-1">
					<form class="contact-form">
						<input type="text" placeholder="Votre Nom Complet">
						<input type="text" placeholder="Nom Equipe">
						<input type="text" placeholder="Nombre Des Joueurs">
						<input type="text" placeholder="TagName des joueurs">
						<input type="text" placeholder="Votre email">
						<button class="site-btn">S'inscrire au tournoi<img src="img/icons/double-arrow.png" alt="#"/></button>
					</form>
				</div>
				<div class="col-lg-5 order-1 order-lg-2 contact-text text-white">
					<h3>Inscription au tournoi</h3>
					<p> Inscrivez vous à nos tournois pour une éxpérience gaming etraordinaire!</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact page end-->


	
	</body>
{% endblock %}