{% extends 'base.html.twig' %}
{% block title %}  Boutique {% endblock %}
{% block body %}
<body>

	

	<!-- Contact page -->
	<section class="contact-page">
		<div class="container">
			
			<div class="row">
				<div class="col-lg-7 order-2 order-lg-1">
					<form class="contact-form">
					    <input type="text" placeholder="NomTournoi">
						<input type="text" placeholder="NomComplet">
						<input type="text" placeholder="NomEquipe">
						<input type="text" placeholder="NombreJoueurs">
						<input type="text" placeholder="NomJoueur1">
						<input type="text" placeholder="NomJoueur2">
						<input type="text" placeholder="NomJoueur3">
						<input type="text" placeholder="NomJoueur4">
						<input type="text" placeholder="NomJoueur5">
						<input type="text" placeholder="email">
						<button class="site-btn"> S'inscrire au tournoi<img src="img/icons/double-arrow.png" alt="#"/></button>
					</form>
				</div>
				<div class="col-lg-5 order-1 order-lg-2 contact-text text-white">
					<h3>Inscription au tournoi</h3>
					<p> Inscrivez vous à nos tournois pour une éxpérience gaming etraordinaire!</p>

				</div>
			</div>
		</div>
	</section>
	<!-- Contact page end-->


	
	</body>
{% endblock %}

